doctype html
html(lang="es", ng-app="reqPerApp")
  head 
    meta(charset="utf-8")
    title Taller ABMS
    title abm-angular
  body
    img.menu_icon(src="triple-igual.png")
    span Taller ABM-AngularJs
    #pantalla PERSONAS Y REQUERIMIENTOS
    div.menu    
      a(href="/views/personas") PERSONAS 
      a(href="/views/requerimientos") REQUERIMIENTOS
    script(src="angular.js") 
    script(src="angular-route.js")
    script(src="ajax-best-promise.js")
    script(src="app.js")