doctype html
html(lang="es", ng-app="reqPerApp")
  head 
    meta(charset="utf-8")
    title abm-angular
    script(src="angular.min.js")
    script(src="angular.js")
    script(src="angular-route.js")
    script(src="ajax-best-promise.js")
    script(src="app.js")
  body
    div(ng-view) 
      span ABM-angular 03/09/2015
