body
  margin 0px
  font-family arial

.error_msg
  color red
  font-weight bold

.menu_icon
  padding 0px
  margin 0px
  vertical-align middle

.menu_superior
  background-color #DDD
  margin 0px
  border-bottom 1px solid #555

.menu_superior span
  margin 4px
  vertical-align middle

.contenedor
  padding 8px

.contenedor *
  margin 4px

.titulo_ficha
  font-weight bold
  text-align center

span.campo
  display inline-block

span.campo label
  display block
  margin 0px
  padding 1px
  position relative
  top 2px
  background-color #FEA
  font-size 75%

#campo_dni
  width 60px