#menu_superior{
    background-color: #DDD;
}

#menu_superior span{
    position: relative;
    bottom:10px;
}

#menu {
    background-color: #EEE;
    height: 50px;
    width: 100%;
    
}
.reqPer_link{
    color: #FF0000;
}

#error_msg {
  color: red;
  font-weight: bold;
}

#titulo_ficha{
  font-weight: bold;
  text-align: center;
}

.campo{
  display: inline;
  margin: 10px;
  padding: 1px;
  position: relative;
  top: 2px;
  background-color: #FEA;
  font-size: 75%;
}