div(ng-controller="ErroresCtrl as error")
  span.error_msg {{error.message}} {{error.object}}
  div
    label DNI
    input(ng-model="personas.parametros.dni")
  div
    div 
      button(ng-click="personas.operaciones.traer('load')") traer
      button(ng-click="personas.operaciones.traer('siguiente')") siguiente
      button(ng-click="personas.operaciones.traer('primero')") primero
      button(ng-click="personas.operaciones.traer('ultimo')") ultimo
  span Personas