body
  margin 0px
  font-family arial

.menu_superior
  background-color #DDD
  margin 0px
  border-bottom 1px solid #555
  
.menu_superior span
  vertical-align middle

.titulo_pagina span
  background-color #EEE
  display block
  width 255px
  height 30px
  margin 0 auto
  vertical-align middle